/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    text-align: center;
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    margin-bottom: 32px;
    width: 70%;
    font-weight: 600;
  }
  html{
      font-size: 16px;
  }

body {
    display: flex;
    justify-content: center ;
}

aside {
    position: relative;
    width: 65%;
    max-height: 100vh;
    text-decoration: none;
}

aside a {
    color: whitesmoke;
    text-decoration: underline;
}

.photo_credit {
    position: absolute;
    width: 50%;
    bottom: 1%;
    color: whitesmoke;
    font-weight: 300;
}
em {
    text-decoration: underline;
}

h1 {
    position: absolute;
    width: 100%;
    bottom: 70%;
    color: white;
    font-size: 3rem;
    background-color: rgb(0, 0, 0, 50%);
    background-blend-mode: multiply;

}

html {
    background-color: rgb(242, 241, 241);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(242, 241, 241);
}
p {
    text-align: left;
    margin-left: 32px;
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
}
legend {
    text-align: left;
    font-weight: 700;
    background-color: white;
    padding-left: 32px;
    padding-top: 16px;
    font-size: 1.5rem;
}
ul{
    background-color: white;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    padding-right: 50%;

    box-shadow: 0px 9px 10px lightgray;
}

li {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 16px 32px;
}

label {
    text-align: left;
    font-size: 0.7rem;
}

button {
    width: fit-content;
    margin-left: 32px;
    margin-top: 32px;
    background-color: #596D48;
    border-radius: 7px;
    border-style: none;
    box-shadow: 0px 5px 10px lightgray;
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: #596D48;
}

input {
    text-align: left;
    padding-left: 8px;
    border-radius: 4px;
    border-color: #E5E7EB;
    border-style: solid;

}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
}
